DISCORD_TOKEN=YOUR_DISCORD_TOKEN
DISCORD_CLIENT_ID=1489731726581170267
DISCORD_GUILD_ID=1002005034571149363
SUPABASE_URL=https://gdvoemxiaytcqiuvpjuk.supabase.co
SUPABASE_ANON_KEY=YOUR_SUPABASE_ANON_KEY
